In [1]:
import datetime
import pandas as pd

In [2]:
# 현재 날짜, 시간 출력
datetime.datetime.now()

datetime.datetime(2022, 2, 25, 17, 42, 12, 254939)

In [3]:
# 현재 날짜 출력
datetime.datetime.now().date()

datetime.date(2022, 2, 25)

In [4]:
# 현재 년도 출력
datetime.datetime.now().year

2022

In [5]:
# 현재 월 출력
datetime.datetime.now().month

2

In [6]:
# 현재 일 출력
datetime.datetime.now().day

25

In [7]:
# 현재 시 출력
datetime.datetime.now().hour

17

In [8]:
# 현재 분 출력
datetime.datetime.now().minute

42

In [9]:
# 현재 초 출력
datetime.datetime.now().second

12

In [10]:
# 현재 마이크로초 출력
datetime.datetime.now().microsecond

651939

### timestamp

In [11]:
pd.Timestamp.now()

Timestamp('2022-02-25 17:42:12.685940')

In [12]:
pd.Timestamp.today()

Timestamp('2022-02-25 17:42:12.728938')

### 문자를 날짜형식으로 변환

In [13]:
pd.to_datetime('now')

Timestamp('2022-02-25 08:42:12.766938')

In [14]:
pd.to_datetime('today')

Timestamp('2022-02-25 17:42:12.801940')

In [15]:
pd.to_datetime('2022-02-25')

Timestamp('2022-02-25 00:00:00')

In [16]:
pd.to_datetime('20220225')

Timestamp('2022-02-25 00:00:00')

In [17]:
pd.to_datetime('02252022', format='%m%d%Y')

Timestamp('2022-02-25 00:00:00')

### Dataframe을 날짜 타입으로 변환

In [19]:
df = pd.DataFrame({'year':[2019, 2020, 2021, 2022],
                   'month':[5, 3, 10, 12],
                   'day':[10, 20, 14, 29]})

df

   year  month  day
0  2019      5   10
1  2020      3   20
2  2021     10   14
3  2022     12   29

In [20]:
pd.to_datetime(df)

0   2019-05-10
1   2020-03-20
2   2021-10-14
3   2022-12-29
dtype: datetime64[ns]

In [21]:
pd.to_datetime(df['year']).dt.year

0    1970
1    1970
2    1970
3    1970
Name: year, dtype: int64

단일 문자에는 dt 사용 불가

### Series와 날짜함수

In [22]:
# 년도 출력
pd.Series(datetime.datetime.now()).dt.year

0    2022
dtype: int64

In [23]:
# 요일 출력
pd.Series(datetime.datetime.now()).dt.day_name()

0    Friday
dtype: object

In [24]:
# 요일수치형(월:0 ~ 일:6)
pd.Series(datetime.datetime.now()).dt.dayofweek

0    4
dtype: int64

In [25]:
# 분기 출력
pd.Series(datetime.datetime.now()).dt.quarter

0    1
dtype: int64

In [26]:
# 이 날짜가 이달의 시작일인지 확인
print(pd.Series(pd.to_datetime('2022-03-01')).dt.is_month_start)
print(pd.Series(pd.to_datetime('2022-03-02')).dt.is_month_start)

0    True
dtype: bool
0    False
dtype: bool

In [27]:
# 이 날짜가 이달의 마지막일인지 확인
print(pd.Series(pd.to_datetime('2022-03-01')).dt.is_month_end)
print(pd.Series(pd.to_datetime('2022-03-31')).dt.is_month_end)

0    False
dtype: bool
0    True
dtype: bool

In [28]:
# 달의 일수를 리턴
print(pd.Series(pd.to_datetime('2022-01')).dt.daysinmonth)
print(pd.Series(pd.to_datetime('2022-02')).dt.daysinmonth)
print(pd.Series(pd.to_datetime('2022-03')).dt.daysinmonth)

0    31
dtype: int64
0    28
dtype: int64
0    31
dtype: int64