In [1]:
import tensorflow as tf

In [2]:
# 문서확인
tf?

Type:        module
String form: <module 'tensorflow' from 'C:\\Users\\GONGGAMLAB\\anaconda3\\lib\\site-packages\\tensorflow\\__init__.py'>
File:        c:\users\gonggamlab\anaconda3\lib\site-packages\tensorflow\__init__.py
Docstring:
Top-level module of TensorFlow. By convention, we refer to this module as
`tf` instead of `tensorflow`, following the common practice of importing
TensorFlow via the command `import tensorflow as tf`.

The primary function of this module is to import all of the public TensorFlow
interfaces into a single place. The interfaces themselves are located in
sub-modules, as described below.

Note that the file `__init__.py` in the TensorFlow source code tree is actually
only a placeholder to enable test cases to run. The TensorFlow build replaces
this file with a file generated from [`api_template.__init__.py`](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/api_template.__init__.py)

In [3]:
# 라이브러리 로드
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# os에 따라 폰트 설정하기
import os

if os.name == 'nt':
    font_family = "Malgun Gothic"
else:
    font_family = "AppleGothic"
    
sns.set(font=font_family, rc={"axes.unicode_minus" : False })

In [5]:
from IPython.display import set_matplotlib_formats

set_matplotlib_formats("retina")

C:\Users\GONGGA~1\AppData\Local\Temp/ipykernel_28600/2409215588.py:3: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats("retina")

In [6]:
df = pd.read_csv("bd_kma_weather.csv")
df.shape

(7665, 62)

In [7]:
df.head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),합계 일조시간(hr),합계 일사량(MJ/m2)
0,108,서울,2017-01-01,2.7,-1.6,540.0,6.9,1419.0,NaN,NaN,...,7.1,10.2,15.7,17.5,0.7,1.0,0.3,NaN,NaN,NaN
1,108,서울,2017-01-02,5.0,1.8,2355.0,9.2,1355.0,2.08,NaN,...,7.0,10.1,15.6,17.5,0.9,1.2,NaN,NaN,NaN,NaN
2,108,서울,2017-01-03,2.0,-2.3,731.0,7.7,1444.0,NaN,NaN,...,6.9,9.9,15.5,17.4,1.3,1.8,NaN,NaN,NaN,NaN
3,108,서울,2017-01-04,3.9,1.0,1.0,8.9,1519.0,NaN,NaN,...,6.9,9.8,15.4,17.4,1.5,2.2,NaN,NaN,NaN,NaN
4,108,서울,2017-01-05,3.8,-0.1,316.0,7.3,1444.0,NaN,NaN,...,6.9,9.7,15.4,17.4,1.6,2.3,NaN,NaN,NaN,NaN

### 학습, 예측 데이터셋 만들기

In [8]:
# 예측할 정답값
label_name = '평균기온(°C)'

In [9]:
# 결측치를 0값으로 임의로 채움
df = df.fillna(0)

In [10]:
# 수치데이터만 feature 로 사용
num_desc = df.describe()
feature_name = num_desc.columns.tolist()
feature_name

['지점',
 '평균기온(°C)',
 '최저기온(°C)',
 '최저기온 시각(hhmi)',
 '최고기온(°C)',
 '최고기온 시각(hhmi)',
 '강수 계속시간(hr)',
 '10분 최다 강수량(mm)',
 '10분 최다강수량 시각(hhmi)',
 '1시간 최다강수량(mm)',
 '1시간 최다 강수량 시각(hhmi)',
 '일강수량(mm)',
 '최대 순간 풍속(m/s)',
 '최대 순간 풍속 풍향(16방위)',
 '최대 순간풍속 시각(hhmi)',
 '최대 풍속(m/s)',
 '최대 풍속 풍향(16방위)',
 '최대 풍속 시각(hhmi)',
 '평균 풍속(m/s)',
 '풍정합(100m)',
 '평균 이슬점온도(°C)',
 '최소 상대습도(%)',
 '최소 상대습도 시각(hhmi)',
 '평균 상대습도(%)',
 '평균 증기압(hPa)',
 '평균 현지기압(hPa)',
 '최고 해면기압(hPa)',
 '최고 해면기압 시각(hhmi)',
 '최저 해면기압(hPa)',
 '최저 해면기압 시각(hhmi)',
 '평균 해면기압(hPa)',
 '가조시간(hr)',
 '합계 일조 시간(hr)',
 '1시간 최다일사 시각(hhmi)',
 '1시간 최다일사량(MJ/m2)',
 '합계 일사(MJ/m2)',
 '일 최심신적설(cm)',
 '일 최심신적설 시각(hhmi)',
 '일 최심적설(cm)',
 '일 최심적설 시각(hhmi)',
 '합계 3시간 신적설(cm)',
 '평균 전운량(1/10)',
 '평균 중하층운량(1/10)',
 '평균 지면온도(°C)',
 '최저 초상온도(°C)',
 '평균 5cm 지중온도(°C)',
 '평균 10cm 지중온도(°C)',
 '평균 20cm 지중온도(°C)',
 '평균 30cm 지중온도(°C)',
 '0.5m 지중온도(°C)',
 '1.0m 지중온도(°C)',
 '1.5m 지중온도(°C)',
 '3.0m 지중온도(°C)',
 '5.0m 지중온도(°C)',
 '합계 대형증발량(mm)',
 '합계 소형증발량(mm)',
 '9-9강수(mm)',
 '안개 계속시간(hr)',
 '합계 일조시간(hr)',
 '합계 일사량(MJ/m2)']

In [11]:
# feature와 label 값으로 나눔
X = df[feature_name].drop([label_name], axis=1)
y = df[label_name]

X.shape, y.shape

((7665, 59), (7665,))

In [12]:
# train, test 세트로 나눔
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [13]:
# 텐서플로우 로드
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

2.8.0

### 텐서플로를 통한 평균기온 예측

In [14]:
model = keras.Sequential([
    layers.Dense(64, activation='swish', input_shape=[X_train.shape[1]]),
    layers.Dense(128, activation='swish'),
    layers.Dropout(0.2),
    layers.Dense(1)
])

optimizer = tf.keras.optimizers.RMSprop(0.001)

model.compile(loss='mse',
            optimizer=optimizer,
            metrics=['mae', 'mse'])

In [15]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5
161/161 [==============================] - 1s 988us/step - loss: 11640.0186 - mae: 67.7680 - mse: 11640.0186
Epoch 2/5
161/161 [==============================] - 0s 938us/step - loss: 282.6808 - mae: 12.1026 - mse: 282.6808
Epoch 3/5
161/161 [==============================] - 0s 900us/step - loss: 80.1389 - mae: 7.2161 - mse: 80.1389
Epoch 4/5
161/161 [==============================] - 0s 881us/step - loss: 54.7631 - mae: 5.9051 - mse: 54.7631
Epoch 5/5
161/161 [==============================] - 0s 881us/step - loss: 41.4785 - mae: 5.1230 - mse: 41.4785

### 예측하기

In [16]:
y_pred = model.predict(X_test)
y_pred

array([[13.2481  ],
       [19.08687 ],
       [17.301613],
       ...,
       [28.283749],
       [ 7.994801],
       [27.71081 ]], dtype=float32)

In [17]:
score = model.evaluate(X_test, y_test, verbose=2)
score

80/80 - 0s - loss: 21.8623 - mae: 3.7250 - mse: 21.8623 - 135ms/epoch - 2ms/step

[21.862274169921875, 3.724961519241333, 21.862274169921875]

In [18]:
# MAE(Mean Absolute Error) : 평균 절대 오차
MAE = score[1]
MAE

3.724961519241333

In [19]:
# MSE(Mean Square Error) : 평균 제곱 오차
MSE = score[2]
MSE

21.862274169921875

In [20]:
# RMSE(Root Mean Square Error) : 평균 제곱근 오차
RMSE = np.sqrt(MSE)
RMSE

4.675711087088452