In [1]:
import re
import pandas as pd
import numpy as np
pd.set_option('max_rows', 10)

In [4]:
df = pd.read_csv('./경찰청 서울특별시경찰청_경찰서별 5대범죄 발생 검거 현황_12_31_2020.csv', encoding='cp949')
df

     구분     죄종 발생검거    건수
0    중부     살인   발생     1
1    중부     살인   검거     1
2    중부     강도   발생     3
3    중부     강도   검거     4
4    중부  강간,추행   발생   113
..   ..    ...  ...   ...
305  수서  강간,추행   검거   194
306  수서     절도   발생  1010
307  수서     절도   검거   475
308  수서     폭력   발생  1394
309  수서     폭력   검거  1200

[310 rows x 4 columns]

In [5]:
df.isnull().sum()

구분      0
죄종      0
발생검거    0
건수      0
dtype: int64

In [6]:
df.rename(columns={'구분': '경찰서'}, inplace=True)

In [7]:
df.select_dtypes('object').apply(lambda x: pd.Series(x.unique()))

    경찰서     죄종 발생검거
0    중부     살인   발생
1    종로     강도   검거
2   남대문  강간,추행  NaN
3   서대문     절도  NaN
4    혜화     폭력  NaN
..  ...    ...  ...
26   노원    NaN  NaN
27   방배    NaN  NaN
28   은평    NaN  NaN
29   도봉    NaN  NaN
30   수서    NaN  NaN

[31 rows x 3 columns]

In [8]:
sum(df.isna().any())

0

### VWorld API 이용 주소 검색

In [9]:
import requests
resp = requests.get('http://api.vworld.kr/req/search?key=인증키입력부분&request=search&size=10&type=place&query=강남경찰서&format=json')
resp.json()

{'response': {'service': {'name': '',
   'version': '2.0',
   'operation': 'search',
   'time': '2(ms)'},
  'status': 'ERROR',
  'error': {'level': '2', 'code': 'INVALID_KEY', 'text': '등록되지 않은 인증키입니다.'}}}

In [10]:
def getAddressCoords(key, queryString, page=1, size=50):
   qStmt = "key=" + key + "&request=search&type=place&page=" + str(page) + "&size=" + str(size) + "&query=" + queryString + "&format=json"
   url = "http://api.vworld.kr/req/search?" + qStmt
 
   resp = requests.get(url)
   res_json = resp.json()
   response = res_json['response']
   itemlist = []
   if response['status'] == 'OK':
     items = response['result']['items']
     for item in items:
       if item['title'].strip() == queryString:
         itemlist.append(dict(경찰서=item['title'], 주소=item['address']['road'], 경위도=item['point']))
   return itemlist

In [11]:
getAddressCoords('본인인증키', '서울강북경찰서')

[]